{% extends 'base.html.twig' %}

{% block body %}
	<main class="mainEditAddProductCategory">
		<h1>Produit</h1>
		{{ form(form) }}
			<a href="{{ path ('app_home') }}">Retour à l'Accueil</a>
		</main>
	{% endblock %}
