{% extends 'base.html.twig' %}

{% block body %}

<h4>{{product.name}}</h4></br>
<p>{{ product.price }}€</p></br>
<p>
	{% if product.promotion == 0 %}
		Non
	{% elseif product.promotion == 1 %}
		Oui
	{% endif %}
</p></br>
<p>{{ product.discount }}</p>

{% endblock body %}
