{% extends 'base.html.twig' %}

{% block body %}

<h1>{{category.name}}</h1>

{% for product in products %}
                <div class="productCard">
                        <img src="https://cdn.pixabay.com/photo/2014/04/05/09/30/tablet-314153_1280.png" alt"photo" style="width:190px">
                        <h4>{{ product.name }}</h4>
                        <p>{{ product.price }}</p>
                        <p>
                            {% if product.promotion == 0 %}
                                Non
                            {% elseif product.promotion == 1 %}
                                Oui
                            {% endif %}
                        </p>
                </div>
            {% endfor %} 
{% endblock %}