{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}
	<main id="home">
		<aside>
			{% include 'category/aside.html.twig' %}
		</aside>

		<section>
			<section id="Discount">
				{% include 'product/carousel.html.twig' %}
			</section>

			<section id="ProductCards">
				{% include 'product/productCards.html.twig' %}
			</section>
		</section>
	</main>
{% endblock %}
