{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	<main id="mainEditUser">
		<h1>Modifier mes informations</h1>
		{{ form(form) }}
		<a href="{{ path('app_user', {id: app.user.id}) }}">Retour</a>
		</main>
	{% endblock %}
