{% extends 'base.html.twig' %}


{% block body %}
	<main id="mainOrder">
		<h1>Confirmation de commande</h1>

		<p>Merci pour votre commande !</p>

		<p>Détails de la commande :</p>

		<ul>
			{% for orderDetail in order.getOrderDetails() %}
				<li>{{ orderDetail.getQuantity() }}
					x
					{{ orderDetail.getProduct().getName() }}
					-
					{{ orderDetail.getPrice() }}
					€</li>
			{% endfor %}
		</ul>

		<p>Total de la commande :
			{{ order.getTotal() }}
			€</p>

	</main>

{% endblock %}
